<?php

define('DS', DIRECTORY_SEPARATOR);
define('BASE_PATH', dirname(__FILE__));

if (file_exists($file = __DIR__.'/functions.php')) {
    require_once $file;
}

require_once BASE_PATH . '/vendor/symfony/src/Symfony/Component/ClassLoader/UniversalClassLoader.php';
require_once BASE_PATH . '/vendor/symfony/src/Symfony/Component/ClassLoader/ApcUniversalClassLoader.php';

use Symfony\Component\ClassLoader\UniversalClassLoader;
use Symfony\Component\ClassLoader\ApcUniversalClassLoader;

if (extension_loaded('apc')) {
    $loader = new ApcUniversalClassLoader('bronto.');
} else {
    $loader = new UniversalClassLoader();
}

$loader->registerNamespaces(array(
    'Bronto\\Tests' => BASE_PATH . '/tests',
    'Console'       => BASE_PATH . '/bin',
    'Symfony'       => BASE_PATH . '/vendor/symfony/src',
));

$loader->registerPrefixes(array(
    'Bronto_' => BASE_PATH . '/src',
));

$loader->register();