<?php
/*
 * Use vendor/autoload.php if you are using composer!
 */
define('DS', DIRECTORY_SEPARATOR);
define('BASE_PATH', dirname(__FILE__));

if (file_exists($file = __DIR__.'/functions.php')) {
    require_once $file;
}

require_once BASE_PATH . '/vendor/symfony/src/Symfony/Component/ClassLoader/ClassLoader.php';
require_once BASE_PATH . '/vendor/symfony/src/Symfony/Component/ClassLoader/ApcClassLoader.php';

use Symfony\Component\ClassLoader\ClassLoader;
use Symfony\Component\ClassLoader\ApcClassLoader;

if (extension_loaded('apc')) {
    $loader = new ApcClassLoader('bronto.');
} else {
    $loader = new ClassLoader();
}

$loader->addPrefixes(array(
    'Bronto_Tests' => BASE_PATH . '/tests',
    'Bronto_'      => BASE_PATH . '/src',
));

$loader->register();
