<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="tests/bootstrap.php"
         cacheTokens="true"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         forceCoversAnnotation="false"
         mapTestClassNameToCoveredClassName="false"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         syntaxCheck="true"
         strict="true"
         verbose="true"
 >
    <testsuites>
        <testsuite name="Bronto API Test Suite">
            <directory>./tests/Bronto/</directory>
        </testsuite>
    </testsuites>

    <php>
        <!-- Bronto API Token to use for tests -->
        <const name="TEST_API_TOKEN_1" value=""/>
        <const name="TEST_API_TOKEN_2" value="C19700FF-1DD0-46E1-B0EA-D10B977629BA"/> <!-- brontopssandbox -->
        <const name="TEST_API_TOKEN_3" value=""/>
        <!-- Known Contact UUID to use for various tests -->
        <const name="TEST_CONTACT_ID_1" value=""/>
        <const name="TEST_CONTACT_ID_2" value="49b26776-4a48-432d-89a3-f5afdec11d6e"/>
        <const name="TEST_CONTACT_ID_3" value=""/>
        <!-- Path used to store files related to tests (defaults to sys_get_temp_dir()) -->
        <const name="TEMP_PATH" value=""/>
    </php>

    <groups>
        <exclude>
            <group>performance</group>
        </exclude>
    </groups>

    <filter>
        <whitelist>
            <directory>./src/Bronto/</directory>
        </whitelist>
    </filter>
</phpunit>
